/* CSS Document */

.bg01 { background:url(http://develop.boktour.com/website/background/body_bg1.jpg) center top no-repeat; margin-top:20px;}
.bg02 { background:url(http://develop.boktour.com/website/background/body_bg2.jpg) center top no-repeat; margin-top:20px;}
.bg03 { background:url(http://develop.boktour.com/website/background/body_bg3.jpg) center top no-repeat; margin-top:20px;}
.bg04 { background:url(http://develop.boktour.com/website/background/body_bg4.jpg) center top no-repeat; margin-top:20px;}
.bg05 { background:url(http://develop.boktour.com/website/background/body_bg5.jpg) center top no-repeat; margin-top:20px;}
.bg06 { background:url(http://develop.boktour.com/website/background/body_bg6.jpg) center top no-repeat; margin-top:20px;}
.bg07 { background:url(http://develop.boktour.com/website/background/body_bg7.jpg) center top no-repeat; margin-top:20px;}
.bg08 { background:url(http://develop.boktour.com/website/background/body_bg8.jpg) center top no-repeat; margin-top:20px;}
.bg09 { background:url(http://develop.boktour.com/website/background/body_bg9.jpg) center top no-repeat; margin-top:20px;}
.bg10 { background:url(http://develop.boktour.com/website/background/body_bg10.jpg) center top no-repeat; margin-top:20px;}
.bg11 { background:url(http://develop.boktour.com/website/background/body_bg11.jpg) center top no-repeat; margin-top:20px;}
.bg12 { background:url(http://develop.boktour.com/website/background/body_bg12.jpg) center top no-repeat; margin-top:20px;}
.bg13 { background:url(http://develop.boktour.com/website/background/body_bg13.jpg) center top no-repeat; margin-top:20px;}
.bg14 { background:url(http://develop.boktour.com/website/background/body_bg14.jpg) center top no-repeat; margin-top:20px;}
.bg15 { background:url(http://develop.boktour.com/website/background/body_bg15.jpg) center top no-repeat; margin-top:20px;}


