html{ overflow-x:hidden;}
.service { top:130px;right:0; position:absolute;font:12px/20px Arial, Verdana, Tahoma, "宋体";}
.service-open {background:url(http://develop.boktour.com/website/images/service-open.png) no-repeat;width:143px;height:330px;}
.service-close {background:url(http://develop.boktour.com/website/images/service-open.png) no-repeat;height:121px;width:31px;overflow:hidden;}
.service-button {width:34px;height:121px;float:left;cursor:hand;}
.service-inside {width:103px; height:318px; float:right; padding-top:12px;}
.service-inside dl dt {text-align:center;background:url(http://develop.boktour.com/website/images/dttitle.jpg) no-repeat;height:18px;line-height:18px;width:100px;margin-bottom:4px;color:#fff;margin-top:4px;}
.service-inside dl dd {background:url(http://develop.boktour.com/website/images/qq_online.gif) no-repeat 0px 4px;height:24px;line-height:24px;text-indent:24px;text-align:left;width:100px;margin-left:4px;word-wrap:break-word}
.service-inside dl dd.esp_1 a {color:#f50;}
.service-inside dl dd.esp_2 {margin-left:4px;color:#999;background:none;text-indent:0;text-align:center;height:20px;line-height:20px;}
.service-inside dl dd.esp_3 {margin-left:4px;color:#f50;background:none;text-indent:0;text-align:center;height:20px;line-height:20px;}
.service-inside dl dd.esp_4 {margin-left:4px;text-align:center;color:#333;background:none;margin:0;height:18px;line-height:18px;text-indent:0;}

